[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PySide2 = "*"
opencv-python-headless = "*"
tensorflow = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.6"
